

header {
	
	font-size: 25px;
	background-repeat:no-repeat;
	height:100px;
	padding-left: 120px;
	display: block; 
	border-bottom:1px solid black;
	padding-bottom: 50px;
	text-align: center;
	

	
}


div#top {
	text-align: center;
}

h1{
	font-weight: ;
}

h3{
	font-size: 25px;
	
}

h4{
	font-size: 20px;
	padding-bottom: 0;
	
}


footer{
	border-top:1px solid black;

	}
	
body{
	width:1000px;
	margin:auto;
	font-family: arial;
}

main{
			margin-left:150px;
			padding-left:10px;
			padding-bottom: 20px;
			padding-top: 20px;
			
			}
			
